header {
  margin-top: 1%;
  margin-bottom: 0%;
}

h1 {
  color: aliceblue;
  font-size: 95px;
  font-family: garamond;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 0%;
}

body {
  background-color: black;
}

nav,
ul {
  background-color: black;
  font-size: 18px;
  display: inline;
  margin-right: 1%;
  margin-left: 1%;
  align-items: center;
}

nav,
ul:hover {
  color: #bfbfbf;
  cursor: pointer;
}

nav,
a {
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

Footer {
  background-color: black;
  margin-top: 30%;
  height: 50px;
  width: 100%;
}

.copyright {
  color: white;
  float: right;
  margin-top: 0%;
}

.gallery {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin-top: 5%;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.gallery img:hover {
  filter: opacity(0.5);
}

.videos {
  width: 90%;
  height: auto;
  margin-top: 3%;
  margin-left: 5%;
}

.video1 {
  width: 45%;
  height: 50%;
  float: left;
  margin-right: 8%;
  border: 5px solid white;
}

.video2 {
  width: 45%;
  height: 50%;
  float: left;
  border: 5px solid white;
}

@media (max-width:767px) {
  #wrapper {
    width: 100%;
    height: auto;
  }

  #home1 {
    width: 100%;
    height: auto;
    float: none;
  }

  #home2 {
    width: 100%;
    height: auto;
    float: none;
  }
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

#btn-back-to-top {
  background-color: grey;
  font-size: 16px;
  width: 125px;
  height: 40px;
  color: white;
  position: fixed;
  bottom: 80px;
  right: 20px;
  display: none;
}